POSTGRES_DB=niilo22
POSTGRES_USER=niilo22
POSTGRES_PASSWORD=niilo22
POSTGRES_BIND_IP=127.0.0.1
POSTGRES_HOST_PORT=55422
BACKEND_BIND_IP=127.0.0.1
BACKEND_HOST_PORT=4222
FRONTEND_BIND_IP=127.0.0.1
FRONTEND_HOST_PORT=3222
BACKEND_URL=http://backend:4000
FRONTEND_ORIGIN=https://niilo22.koodattu.dev
